/* email-phone */
.container-fluid-custom{
    background-color: rgba(0, 0, 0, 0.911);
    color: white;
    height: 40px;
}
.container-fluid-custom .contact{
    font-size: 15px;
}
.container-fluid-custom .contact i{
    color: rgb(243, 14, 14);
    margin-right: 10px;
    vertical-align: -10px;
}
.container-fluid-custom .contact span{
    color: white;
    margin-left: 5px ;
    vertical-align: 1px;
}
/* social-media */
.container-fluid-custom .social-media{
    direction: ltr;
}
.container-fluid-custom .social-media i{
    width: 40px;
    vertical-align: -6px;
    padding: 10px;
}
.container-fluid-custom .social-media i:hover{
    background-color: rgb(189, 46, 46);
}
.container-fluid-custom .social-media a{
    color: white;
}