.footer-bg{
    background-color: rgb(73, 0, 0);
    min-height: 200px ;
}
.footer-house{
    padding: 50px;
}
.footer-house .movie-house{
    font-size: 26px;
    color: white;
    margin-right: 44px;
    font-weight: 700;
    margin-bottom: 6px;
}
.footer-house h6{
    padding-top: 10px;
    border-top: 1px solid white;
    margin-top: 4px;
    color: white;
    margin-right: 29px;
    font-size: 18px;
}
.movie-house i{
    transform: rotate(20deg);
    padding-left: 15px;
}
.service-title{
    padding: 50px;
}
.service-title h5{
    color: white;
    margin: 10px;
}
.service-title ul{
    padding: 10px;
    border-top: 1px solid white;
}
.service-title ul a{
    color: white;
}
.service-title ul a li{
    font-size: 18px;
    margin-bottom: 5px;
    transition: 0.4s linear;
}
.service-title ul li::before{
    content: "\276f";
    padding-left: 5px;
    vertical-align: -3px;
}
.service-title ul a li:hover{
    color: rgb(255, 241, 42);
    padding-right: 15px;
    
}
.contactus{
    color: white;
    padding: 50px;
}
.contactus h5{
    padding: 10px;
}
.contactus ul{
    color: white;
    direction: ltr;
    border-top: 1px solid white;
    font-size: 24px;
}
.contactus i{
    color: white;
    margin-top: 5px;
    padding-left: 10px;
}
.contactus i:hover{
color: rgb(255, 241, 42);
}
.contactus form{
    margin-top: 55px;
}
.contactus input[type=text]{
    line-height: 35px;
    width: 100%;
        outline: none;
        position: relative;
}
.contactus input[type=submit]{
    position: absolute;
    height: 39px;
    padding: 0 9px;
    left: 0px;
    outline: none;
    background-color: rgb(116, 11, 11);
    color: white;
    border: none;
}
.contactus input[type=submit]:hover{
    color: rgb(255, 241, 42);
    cursor: pointer;
    font-weight: bolder;
}